#GOOGLE_API_KEY=
GOOGLE_GENAI_API_KEY=
ANTHROPIC_API_KEY=
#OPENAI_API_KEY=
AGENT_TYPE=claude
#DEFAULT_PROVIDER=google
#CLAUDE_CODE_OAUTH_TOKEN=
#BROWSERLESS_API_KEY=
KERNEL_API_KEY=
#ANTHROPIC_MODEL=claude-sonnet-4-5
#GOOGLE_MODEL=gemini-3-flash
#STEEL_CDP_URL=ws://localhost:3001
#STEEL_UI_URL=http://localhost:3001/ui
STEEL_CDP_URL=wss://connect.steel.dev
STEEL_API_URL=https://api.steel.dev
# Optional: API key for cloud Steel
STEEL_API_KEY=
